<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS Simple Directive Example</title>
</head>
<body ng-app="simpleDirective">
  <greetings>
    <input ng-model="show" type="checkbox">
    <button ng-if="show">Hello John!</button>
  </greetings>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
<script>
  angular.module('todomvc', []);
  angular.module('todomvc').
    directive('greetings', function(){
      return {
        scope: true,
        restrict: 'E',
        //template: '<h1>Hello {{name}}!</h1>',
        link: function(scope){
          scope.show = true;
          scope.name = "Anand";
        }
      };
    });
</script>
</body>
</html>